@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Homemade+Apple&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Homemade+Apple&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  width: 100%;
  height: 120px;

  align-items: center;
}
.nav-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1225px;
}
.nav-container ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
}
.nav-container button {
  width: 118px;
  height: 42px;
  border-radius: 5px;
  gap: 10px;
  background: linear-gradient(#f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  font-family: DM Sans;
  font-weight: 500;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
  margin-top: 60px;
  width: 100%;
}
.main-container {
  width: 1225px;
  display: flex;
  justify-content: space-between;
}
.left {
  margin-top: 36px;
  width: 538px;
  height: 353px;
}
.left h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 72px;
  color: rgba(61, 61, 63, 1);
}
.left p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  margin-top: 42px;
}
.left button {
  width: 219px;
  height: 53px;
  border-radius: 5px;
  background: linear-gradient(
    2.79deg,
    #f35f2f -13.68%,
    rgba(243, 95, 47, 0.75) 121.16%
  );
  border: none;
  margin-top: 40px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
.step-2 {
  margin-top: 120px;
  width: 1170px;
  height: 421px;
  margin: auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h3 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 40px;
  color: rgba(61, 61, 63, 1);
  text-align: center;
  margin-bottom: 105px;
}

.ikonki {
  display: flex;
  gap: 245px;
  justify-content: space-around;
  border: 2px solid rgba(235, 235, 235, 0.8);
  width: 1170px;
  height: 314px;
}

.step-2a {
  width: 235px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step-2a h5 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 36px;
  margin-top: 23px;
}

.step-2a p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 24px;
  color: rgba(61, 61, 63, 1);
  text-align: center;
  margin-top: 13px;
}

.step-2b {
  width: 235px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step-2b h5 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 36px;
  margin-top: 23px;
}

.step-2b p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 24px;
  color: rgba(61, 61, 63, 1);
  text-align: center;
  margin-top: 13px;
}

.step-2c {
  width: 235px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step-2c h5 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 36px;
  margin-top: 23px;
}

.step-2c p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 24px;
  color: rgba(61, 61, 63, 1);
  text-align: center;
  margin-top: 13px;
}
.container-3 {
  width: 100%;
  justify-content: center;
  display: flex;
}
.step-3 {
  display: flex;
  width: 1170px;
  height: 471px;
  margin-top: 60px;
  flex-direction: column;
}
.step-container {
  display: flex;
  justify-content: space-between;
}
.step-3a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 302px;
  border-radius: 23px;
  box-shadow: 5px 4px 22px 0px rgba(2, 1, 1, 0.05);
}
.step-3a h4 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.step-3a p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  color: rgba(89, 89, 89, 1);
  text-align: center;
  margin-bottom: 27px;
}

.circle-3a {
  width: 90px;
  height: 120px;
  border-radius: 555px;
  box-shadow: 5px 4px 22px 0px rgba(26, 18, 18, 0.05);
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-3b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 302px;
  border-radius: 23px;
  box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
}
.step-3b h4 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.step-3b p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  color: rgba(89, 89, 89, 1);
  text-align: center;
  margin-bottom: 27px;
}

.circle-3b {
  width: 90px;
  height: 120px;
  border-radius: 555px;
  box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 122, 80, 0.83);
}

.step-3c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 302px;
  border-radius: 23px;
  box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
}
.step-3c h4 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.step-3c p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  color: rgba(89, 89, 89, 1);
  text-align: center;
  margin-bottom: 27px;
}

.circle-3c {
  width: 90px;
  height: 120px;
  border-radius: 555px;
  box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-4 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.step-4 {
  width: 1232px;
  height: 984px;
}

.triangle-1 {
  width: 1232px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.triangle-1a {
  width: 392px;
  height: 367px;
  border-radius: 11px;
  box-shadow: 2px 3px 8px;
  background: rgba(255, 255, 255, 1);
}
.triangle-1a img {
  border-radius: 11px;
  margin-bottom: 20px;
}
.triangle-1a p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.triangle-1b {
  width: 392px;
  height: 367px;
  border-radius: 11px;
  box-shadow: 2px 3px 8px;
  background: rgba(255, 255, 255, 1);
}
.triangle-1b img {
  border-radius: 11px;
  margin-bottom: 20px;
}
.triangle-1b p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.triangle-1c {
  width: 392px;
  height: 367px;
  border-radius: 11px;
  box-shadow: 2px 3px 8px;
  background: rgba(255, 255, 255, 1);
}
.triangle-1c img {
  border-radius: 11px;
  margin-bottom: 20px;
}
.triangle-1c p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.triangle-2 {
  width: 1232px;
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}

.triangle-2a {
  width: 392px;
  height: 367px;
  border-radius: 11px;
  box-shadow: 2px 3px 8px;
  background: rgba(255, 255, 255, 1);
}
.triangle-2a img {
  border-radius: 11px;
  margin-bottom: 20px;
}
.triangle-2a p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.triangle-2b {
  width: 392px;
  height: 367px;
  border-radius: 11px;
  box-shadow: 2px 3px 8px;
  background: rgba(255, 255, 255, 1);
}
.triangle-2b img {
  border-radius: 11px;
  margin-bottom: 20px;
}
.triangle-2b p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.triangle-2c {
  width: 392px;
  height: 367px;
  border-radius: 11px;
  box-shadow: 2px 3px 8px;
  background: rgba(255, 255, 255, 1);
}
.triangle-2c img {
  border-radius: 11px;
  margin-bottom: 20px;
}
.triangle-2c p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.step-4 button {
  width: 242px;
  height: 53px;
  border-radius: 5px;
  background: linear-gradient(
    2.79deg,
    #f35f2f -13.68%,
    rgba(243, 95, 47, 0.75) 121.16%
  );
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: none;
  margin-top: 60px;
  margin-left: 500px;
}

.step-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  flex-direction: column;
  align-items: center;
}
.step-5 h3 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 40px;
  color: rgba(61, 61, 63, 1);
  text-align: center;
  margin-bottom: 20px;
}

.team {
  width: 1176px;
  height: 496.875px;
  display: flex;
  justify-content: space-between;
}

.p-1 {
  width: 267px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 10px;
  border-radius: 10px;
}
.p-1 h4{font-family: DM Sans;
font-weight: 500;
font-size: 18px;
text-align: center;
margin-bottom: 15px;}

.p-1 p{
    font-family: DM Sans;
font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(153, 153, 153, 1);
margin-bottom: 12px;
}




.p-2 {
  width: 267px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 10px;
  border-radius: 10px;
}
.p-2 h4{font-family: DM Sans;
font-weight: 500;
font-size: 18px;
text-align: center;
margin-bottom: 15px;}

.p-2 p{
    font-family: DM Sans;
font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(153, 153, 153, 1);
margin-bottom: 12px;
}




.p-3 {
  width: 267px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 10px;
  border-radius: 10px;
}
.p-3 h4{font-family: DM Sans;
font-weight: 500;
font-size: 18px;
text-align: center;
margin-bottom: 15px;}

.p-3 p{
    font-family: DM Sans;
font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(153, 153, 153, 1);
margin-bottom: 12px;
}




.p-3 {
  width: 267px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 10px;
  border-radius: 10px;
}
.p-3 h4{font-family: DM Sans;
font-weight: 500;
font-size: 18px;
text-align: center;
margin-bottom: 15px;}

.p-3 p{
    font-family: DM Sans;
font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(153, 153, 153, 1);
margin-bottom: 12px;
}



.p-4 {
  width: 267px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 10px;
  border-radius: 10px;
}
.p-4 h4{font-family: DM Sans;
font-weight: 500;
font-size: 18px;
text-align: center;
margin-bottom: 15px;}

.p-4 p{
    font-family: DM Sans;
font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(153, 153, 153, 1);
margin-bottom: 12px;
}